body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 500px;
  height: 200px;
  background: rgb(110, 103, 103);
  border: 2px solid white;
}
.extension {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* .initiators {
  display: flex;
  justify-content: space-between;
} */

.init {
  padding: 10px;
  background: lightcoral;
  border: 2px solid white;
}
